<li class="item gallery__item" data-id="{{id}}">
    <div class="photo-card">
        <img src="{{webformatURL}}" alt="{{tags}}" />
        <div class="stats">
            <p class="stats__item">
                <i class="material-icons">thumb_up</i><br>
                {{likes}}
            </p>
            <p class="stats__item">
                <i class="material-icons">visibility</i><br>
                {{views}}
            </p>
            <p class="stats__item">
                <i class="material-icons">comment</i><br>
                {{comments}}
            </p>
            <p class="stats__item">
                <i class="material-icons">cloud_download</i><br>
                {{downloads}}
            </p>
        </div>
    </div>
</li>